<div class = "container">
	<div class = "row">
		<%= render 'errors', tour: @tour %>
		<div class = "col-xs-12">
			<%= form_with(model: @tour, url: tour_guide_guide_tour_path(current_guide, @tour), local: true) do |f| %>
				<div class = "col-xs-4">
					<h1>ツアー内容編集画面</h1>
				</div>
				<div class = "col-xs-4 col-xs-offset-3">
					<h1><%= f.submit  "編集内容を保存", class: "btn btn-success btn-lg" %></h1>
				</div>
				<%= render 'tour_form', f: f %>
			<% end %>
		</div>
	</div>
</div>
