<div class = "container">
	<div class = "row">
		<div class = "col-xs-7 col-xs-offset-1">
			<% notifications.each do |notice| %>
				<span>
					<h2><strong><%= notice.visitor.name %></strong>さんが</h2>
					<% case notification.action %>
						<% when 'book_mark' then %>
							<h2>あなたのツアー
								<%= notice.tour.title %>を
								ブックマークしました。
							</h2>
						<% when 'comment' then %>
							<h2>あなたのツアー
								<%= notice.tour.title %>に
								レビューを書きました。
							</h2>
					<% end %>
				</span>
				<%= time_ago_in_words(notice.created_at).upcase %>
			<% end %>
		</div>
	</div>
</div>