<div class = "about-first-wrapper">
	<h1 class = "about-container">FANTRAへようこそ</h1>
</div>
<div class = "fantra-second-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-8 col-xs-offset-1">
				<h3 class = "fantra-headline">FANTRAはツアーガイドをサポートし、<br/>
				ツーリストに素敵な旅を提供するサイトです。</h3>
			</div>
		</div>
	</div>
</div>
<div class = "container">
	<div class = "row">
		<div class = "col-xs-4">
			<h2 class = "tour-body-title">私たちについて</h2>
		</div>
		<div class = "col-xs-8">
			<h3 class = "tour-body-text">FANTRAに来てくださりありがとうございます。<br/>
				私たちはツアーガイドとツーリストを繋ぎ、旅先での興奮と安心、そして人間の温かみを感じることができるプラットフォーム作りを目指しております。<br/>
			</h3>
			<h3 class = "tour-body-text">ツアーガイドやホストとして楽しい経験を提供したいと考えている方は<%= link_to "こちらから", new_guide_registration_path %>ご登録ください。
			</h3>
			<h3 class = "tour-body-text">新たな世界、未知なる経験を求めている方は<%= link_to "こちらから", new_tourist_registration_path %>ご登録ください。
			</h3>
		</div>
	</div>
</div>
