<div class = "about-first-wrapper">
	<h1 class = "about-container">FANTRAへようこそ</h1>
</div>
<div class = "fantra-second-wrapper">
	<div class = "container">
		<div class = "row">
			<div class = "col-xs-8 col-xs-offset-1">
				<h3 class = "fantra-headline">FANTRAはツアーガイドをサポートし、<br/>
				ツーリストに素敵な旅を提供するサイトです。</h3>
			</div>
		</div>
	</div>
</div>
<div class = "container">
	<div class = "row">
		
	</div>
</div>

<%= link_to "ツアーガイドログイン", new_guide_session_path, class: "btn btn-success" %>
<%= link_to "ツアーガイドサインアップ", new_guide_registration_path, class: "btn btn-success" %>