<div class = "intro-top-wrapper">
	<h1 class = "text-center intro-headline">FANTRAでツアーガイドをしたら何ができるのか？</h1>
</div>


<div class = "intro-second-wrapper">
	<h3 class = "text-center intro-second-wrapper-headline">旅人に新たな世界と特別な経験をシェアできる</h3>
	<p class = "text-center">
		これまでに人間は未知なる土地を目指して旅を続けてきました。ネットが発達し、簡単に情報にアクセスができるようになってからも生の体験を求めるために旅を続けています。
	</p>
	<h4 class = "text-center intro-second-wrapper-subtitle">
		未知なる土地へ踏み出す旅人にはその土地を知り尽くしたガイドの助けがが必要です。
	</h4>
	<p class = "text-center">
		ネットの発達によりその土地の情報が幅広く拡散され、旅人はその情報だけで満足し、誰とも変わらない画一な経験をしています。<br/>
		多くの人が「自分だけが知っている世界」を持って自分のアイデンティティーを感じる中で、これは大きな問題です。<br/>
		あなただけが体験してきた世界を多くの人とシェアをして、彼らだけの特別な時間を共に作り上げましょう！
	</p>
	<h3 class = "text-center intro-second-wrapper-subtitle">
		最も大切なのは情報の正確性・信頼性です
	</h3>
	<p class = "text-center intro-line">
		一部のガイドが旅人に対して不利益を被るような行動をすることによって、ガイド全体の信頼度がなくなってしまいます。<br/>
		旅人が特別な経験を逃さないようにするためにも、ツアー情報の正確性はもちろん、信頼を得るための行動をしましょう。
	</p>
</div>





<div class = "intro-third-wrapper">

<!-- ツアーイメージ写真 -->
	<div class = "intro-photos-wrapper">
		<div class = "container">
			<div class = "row">
				<div class = "col-xs-6">
					<div class = "intro-first-photo"></div>
				</div>
				<div class = "col-xs-6">
					<div class = "photo-message">
						<h3>あなたの世界を発信しませんか？</h3>
						<h4>特別な時間を多くの人とシェアしましょう</h4>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col-xs-6">
					<div class = "photo-message">
						<h3>新たなライフスタイルはいかがですか？</h3>
						<h4>あなたの好きを伝える仕事をしましょう</h4>
					</div>
				</div>
				<div class = "col-xs-6">
					<div class = "intro-second-photo"></div>
				</div>
			</div>
		</div>
	</div>
<!-- ツアーイメージ写真 -->

	<h2 class = "text-center">あなたの好きな世界をシェアして収入を得ましょう</h2>
	<h3 class = "text-center intro-second-wrapper-headline">ガイドの収益モデル（１ヶ月）</h3>
	<h4 class = "text-center">※ツアー価格の88%がガイドの収益として受け取れます。（残りはサイト運営費）</h4>
	<div class =  "panel panel-default intro-panel">
		<div class="panel-heading">
			<h3 class="panel-title text-center">ツアーモデル</h3>
		</div>
		<div class = "panel-body" >
			<h4>ツアー1人あたり：¥4000</h4>
			<h4>ツアー定員：５人</h4>
			<h4>ツアー時間：5時間</h4>
		</div>
		<div class = "panel-body" >
			<h4>上記のツアーを月に４回開催すると、</h4>
			<h3>¥4,000 x 5人 x 4日 x 88% = <strong>¥70,400</strong></h3>
		</div>
	</div>
	<h2 class = "text-cnter">
		<%= link_to new_guide_registration_path do %>
			こちらから
		<% end %>
		ガイド登録して、早速あなたのツアーを作成しましょう！
	</h2>
</div>