// Place all the styles related to the admin/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//-------------- 一覧ページ ---------------
.admin-tours-index {
	position: ralative;
}

.admin-search-city{
	position: absolute;
	right: 100px;
}

.tour_is_active-tbody {
	color: red;
	background-color: pink;
}

.admin_genre_btn{
	margin-top: 30px;
}
//-------------- 一覧ページ ---------------





//-------------- 詳細ページ ---------------
// 販売停止中メッセージ表示
.admin_tour_is_active_false_text {
	padding-left: 200px;
	font-size: 180px;
	color: red;
	transform: rotate(-10deg);
}
//-------------- 詳細ページ ---------------
