<div class = "container">
	<div class = "row">
		<div class = "col-xs-7 col-xs-offset-1">
			===============================
			  <%= @user.name %> 様
			===============================

			この度は、お問い合わせありがとうございました。
			以下でご質問の回答となっておりますでしょうか。

			<%= @answer %>

			今後とも XXX をよろしくお願いいたします。
		</div>
	</div>
</div>