// Place all the styles related to the tourist/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.confirm-box{
	margin-top: 70px;
}

.order-confirm-text {
	border-bottom: solid 1px gray;
	padding-bottom: 20px;
}

.order-confirm-body{
	line-height: 40px;
}