// Place all the styles related to the tourist/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-wrapper{
	position: relative;
}



.message-form-field{
	z-index: 500px;
	position: fixed;
	top: 150px;
	width: 100%;
	height: 100px;
}

.btn-to-rooms {
	padding-bottom: 80px;
}

.message-time{
	font-size: 10px;
}

.message{
	margin: 20px 0 20px;
}