// Place all the styles related to the tourist/tourists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tourist-info-text{
	border-bottom: solid 1px gray;
	padding-bottom: 10px;
	margin-bottom: -5px;
}


.tourist-tourist-order-container{
	float: left;
}

.tourist-tourist-order-table{
	padding: 50px 90px 30px 200px;
}

.tourist-info-container{
	float: left;
	padding-top: 50px;
}


.tourist-edit-box{
	padding: 25px;
}