// Place all the styles related to the tourist/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ツアー一覧
.tourist-first-wrapper{
	background-image: image-url("viet.jpeg");
	background-size: cover;
	background-position: center;
	height: 400px;
	position: relative;
}

.tourist-headline{
	margin-top: 40px;
	line-height: 30px;
	color: white;
}

.tourist-second-wrapper{
	background-color: black;
	height: 160px;
}

.tourist-body-text{
	margin-top: 50px;
	line-height: 50px;
}

.tourist-genre-btn{
	margin: 80px 10px 0 0px;
}

.bookmark{
	color: white;
}





// ツアー詳細
// ツアー詳細画像部分
.image-wrapper{
	height: 400px;
	background-color: gray;
}

// ツアー詳細左
.left-bar{
	margin-left: 50px;
}

.city-name{
	margin: 30px 0;
}

// ツアー詳細右
.right-bar{
	margin-left: -40px;
}

.contents_of_price{
	margin-top: 10px;
}

.edit-tour-btn{
	margin: 80px 0 0 40px;
}

.tour-body-title{
	margin: 100px 0 0 90px;
}

.bookmark{
	margin: 85px 0 0 40px;
}

// ツアー説明
.tour-body{
	line-height: 50px;
}

.bookmark{
	margin: 40px 0 0 40px;
}
