// Place all the styles related to the tourist/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ツアー一覧
.tourist-first-wrapper{
	background-image: image-url("viet.jpeg");
	background-size: cover;
	background-position: center;
	height: 400px;
	position: relative;
}

.search-city{
	position: absolute;
	top: 20px;
	right: 20px;
}

.tourist-headline{
	margin-top: 40px;
	line-height: 30px;
	color: white;
}

.tourist-second-wrapper{
	background-color: black;
	height: 180px;
}

.tourist-body-text{
	margin-top: 50px;
	line-height: 50px;
}

.search-genre{
	margin-top: -30px;
}

.tourist-genre-btn{
	margin: 80px 10px 0 0px;
}










// ---------  ツアー詳細 -------------
// ツアー詳細
// ツアー詳細画像部分
// ----- ツアー写真 -----
.tour-image-wrapper {
	height: 400px;
	padding: 30px 0 0 150px;
	background-color: black;
	position: relative;
}

.book_mark{
	color: white;
	position: absolute;
	top: 30px;
	right: 50px;
}

.tour-img-1 {
	padding-right: 20px;
}

.tour-img-2 {

}

.tour-img-3 {
	padding-left: 10px;
}

.tour-img-4 {
	padding-top: 10px;
}

.tour-img-5 {
	padding-left: 15px;
}
// ----- ツアー写真 -----




.tour-info-wrapper{
	background-color: black;
	color: white;
	height: 180px;
}

.order-btn{
	margin: 80px 0 0 20px;
}


// ツアー詳細左
.left-bar{
	margin-left: 50px;
}

.city-name{
	margin: 30px 0;
}

// ツアー詳細右
.right-bar{
	margin-left: -40px;
}

.contents_of_price{
	margin-top: 10px;
}

.edit-tour-btn{
	margin: 80px 0 0 40px;
}

.tour-body-title{
	margin: 100px 0 0 90px;
}

.bookmark{
	margin: 85px 0 0 40px;
}


// ツアー説明
.tour-body{
	line-height: 50px;
}

.bookmark{
	margin: 40px 0 0 40px;
}
// ---------  ツアー詳細 -------------










