<h1>管理者トップ画面</h1>


<div class = "container">
	<div class = "row">
		<div class = "col-xs-4 col-xs-offset-1">
			<%= link_to "注文一覧", admin_orders_path, class: "btn btn-default" %>
			<%= link_to "ツアー一覧", admin_tours_path, class: "btn btn-default" %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-4 col-xs-offset-1">
			<%= link_to "ジャンル画面", admin_genres_path, class: "btn btn-default" %>
			<%= link_to "都市画面", admin_cities_path, class: "btn btn-default" %>
		</div>
	</div>
</div>