// Place all the styles related to the tour_guide/guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// ガイド詳細画面
.selfy_image{
	border-radius: 40%;
}

.guide-button-to-edit{
	margin: 30px 0 0 30px;
}

.guide-introduction-blank {
	color: red;
}
// ガイド詳細画面







// ガイド編集画面
.guide-identification{
	padding-bottom: 200px;
}


.guide-introduction-area{
	width: 90%;
	height: 200px;
}

.delete-btn{
	margin-top: 100px;
}
// ガイド編集画面


