// Place all the styles related to the tour_guide/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guide_signin_text {
	color: blue;
}

.about-first-wrapper {
	background-color: black;
}

#theTarget {
	height: 480px;
}

.img1 {
	background-image: image-url("chari.jpeg");
	background-size: cover;
	background-position: center;
}

.img2 {
	background-image: image-url("viet.jpeg");
	background-size: cover;
	background-position: center;
}

.img3 {
	background-image: image-url("IMG_0028.jpeg");
	background-size: cover;
	background-position: center;
}

.img4 {
	background-image: image-url("cam1.jpeg");
	background-size: cover;
	background-position: center;
}

.img5 {
	background-image: image-url("cam.jpeg");
	background-size: cover;
	background-position: center;
}

.img6 {
	background-image: image-url("oki.jpeg");
	background-size: cover;
	background-position: center;
}

.img7 {
	background-image: image-url("thai.jpeg");
	background-size: cover;
	background-position: center;
}

.img8 {
	background-image: image-url("rocky.jpeg");
	background-size: cover;
	background-position: center;
}

.img9 {
	background-image: image-url("cuba.jpeg");
	background-size: cover;
	background-position: center;
}

.img10 {
	background-image: image-url("rocky2.jpeg");
	background-size: cover;
	background-position: center;
}



.about-second-wrapper{
	background-color: #F2F2F2;
}

.about-container{
	color: white;
	position: absolute;
	top: 170px;
	left: 100px;
}

.fantra-headline{
	margin-top: 40px;
	line-height: 30px;
	color: white;
}

.fantra-second-wrapper{
	background-color: black;
	height: 160px;
}

.about-us-introduction-title{
	padding-top: 60px;
}


.tour-body-text{
	margin-top: 50px;
	line-height: 50px;
}


.about-body-text{
	margin-top: 50px;
	line-height: 50px;
}


///------ FANTRA説明画面 ---------
.intro-top-wrapper{
	margin: 0 auto;
	background-image: image-url("IMG_0701.jpeg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	position: relative;
}


.intro-headline {
	margin-top: 50px;
	color: white;
	position: absolute;
	top: 150px;
	left: 50px;
}


.intro-second-wrapper{
	margin: 0 auto;
	width: 80%;
}


.intro-second-wrapper-headline{
	margin: 50px 0 50px;
}

.intro-second-wrapper-subtitle {
	margin: 50px 0 50px;
}

.border-bottom-text {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: solid 1px black;
}

.border-top-text {
	padding-top: 40px;
	margin-top: 40px;
	border-top: solid 1px black;
}


.intro-third-wrapper {
	margin: 0 auto 80px;
	width: 80%;
}

.intro-photos-wrapper {
	height: 1400px;
	background-color: #F2F2F2;
}

.intro-first-photo {
	background-image: image-url("IMG_9163.jpeg");
	margin: 90px;
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 80%;
}

.intro-second-photo {
	background-image: image-url("IMG_0311.jpeg");
	margin: 90px;
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 80%;
}

.photo-message {
	margin: 350px 0 0 100px;
}

.intro-panel {
	width: 50%;
	margin: 0 auto;
}



