// Place all the styles related to the tour_guide/tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ------------ ツアー新規投稿 ------------ 
.right-bar{
	padding-top: 40px;
}

//body入力フィールド
.tour-body{
	width: 90%;
	height: 300px;
}

// contents_of_price入力フィールド
.contents_of_price{
	height: 50px;
}

// ツアー写真送信ボタン
.tour-photo-submit {
	margin-top: 40px;
}

.meetingpoint_introduction_text_area {
	height: 180px;
	width: 100%;
}
// ------------ ツアー新規投稿 ------------ 





//------------ ツアー詳細 ------------------

.tour-top-wrapper {
	height: 600px;
	background-color: black;
	color: white;
}


// ----- ツアー写真 -----
.tour-image-wrapper {
	height: 400px;
	padding: 30px 0 0 150px;
	background-color: black;
	position: relative;
}

.tour-img-1 {
	padding-right: 20px;
}

.tour-img-2 {

}

.tour-img-3 {
	padding-left: 10px;
}

.tour-img-4 {
	padding-top: 10px;
}

.tour-img-5 {
	padding-left: 15px;
}

.is_actice_false {
	position: absolute;
	top: 130px;
	left: 280px;
}

.is_actice_false_text {
	font-size: 180px;
	color: red;
	transform: rotate(-25deg);
}
// ----- ツアー写真 -----



// ----- ツアー詳細　左 -----
.left-bar{
	margin-left: 50px;
}

.city-name{
	margin: 30px 0;
}
// ----- ツアー詳細　左 -----



// ----- ツアー詳細　右 -----
.right-bar{
	margin-left: -40px;
}

.contents_of_price{
	margin-top: 10px;
}

.edit-tour-btn{
	margin: 80px 0 0 40px;
}

.tour-body-title{
	margin: 100px 0 0 90px;
}
// ----- ツアー詳細　右 -----

.guide-tour-details{
	margin-top: 40px;
}

.guide-body-title{
	margin-left: 140px;
}

.guide-body-text{
	line-height: 50px;
}

.guide-tour-guide-introduction{
	margin: 20px 0 0 30px;
}

//------------- ツアー詳細 ------------------







// ツアー編集
.add-photo-btn{
	margin-top: 10px;
}

.remove-photo-btn{
	margin-top: 10px;
}

.guide-tour-body-text {
	line-height: 30px;
	width: 100%;
	height: 300px;
}
// ツアー編集
