/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../app/assets/stylesheets/.
 *= require_tree .
 *= require_self
 */

 // bootstrap
 @import "bootstrap-sprockets";
 @import "bootstrap";


// font-awesome
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


// ヘッダー
header {
	background-color: black;
	width: 100%;
	height: 70px;
	position: relative;
}

footer {
	color: white;
	margin-top: auto;
	height: 70px;
	background-color: black;
}

li{
	list-style: none;
	margin-top: 5px;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	line-height: 70px;
	padding: 0 15px 0;
}

nav li a{
	color: white;
	font-size: 16px;
}

.logo {
	line-height: 70px;
    color: #FAFAFA;
    padding-left: 30px;
	font-size: 30px;
	float: left;
}

.list-ad-signin{
	float: right;
}

.list-guide-signin{
	float: right;
}

.guide-my-page-link{
	padding-left: 30px;
}

// ログインユーザー名前表示
.login_name{
	color: white;
	line-height: 70px;
}

.login_tourist_name{
	padding-left: 30px;
}

// ツアーガイドの顔写真
.guide_selfy_image{
	margin-left: 10px;
}

// ツアーガイドの通知サイン
.bell {
	position: relative;
}

.circle {
	position: absolute;
	left: 18px;
	bottom: -30px;
}

// 検索
.header-city-search {
	height: 40px;
	float: right;
	position: absolute;
	right: 500px;
	top: 20px;
}



.flash{
	color: blue;
}


.guide-introduction-area {
	width: 100%;
}



/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}


.tourist-registration-warning{
	background-color: red;
	color: white;
	width: 30%;
}


.user-contact-form {
	height: 90px;
}
