/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




header {
	background-color: black;
	width: 100%;
	height: 70px;
}

li{
	list-style: none;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	line-height: 70px;
	padding: 0 15px 0;
}

nav li a{
	color: white;
	font-size: 16px;
}

.flash{
	color: blue;
}

.logo {
	line-height: 70px;
    color: #FAFAFA;
    padding-left: 30px;
	font-size: 30px;
	float: left;
}

.list-ad-signin{
	float: right;
}

.list-guide-signin{
	float: right;
}

// current_guideの名前表示
.guide_name{
	color: white;
	line-height: 70px;
	padding-left: 30px;
}

