<div class = "container">
	<div class = "row">
		<div class = "col-xs-12">
			<div>
				<h2>現在の予約</h2>
				<table class = "table">
					<%= render 'thead' %>
					<tbody>
						<% @orders.each do |order| %>
							<% if order.status == "ツアー開始前" %>
								<%= render 'tbody', order: order %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>